* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  display: flex;
  height: 100vh;
  background-image: url("newyork.jpeg");
  background-size: cover;
  /* border: 2px dotted red; */
}
.sidebar {
  width: 10vw;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 2px solid white;
  padding: 3% 0;
  /* border: 2px solid green; */
}
.sidebar-sub {
  display: flex;
  flex-direction: column;
}

.icon {
  color: blue;
}

.side-link {
  text-decoration: none;
  color: white;
  writing-mode: vertical-lr;
  margin: 10px 0px;
}

.side-link:hover {
  color: green;
  border-left: 2px solid green;
}

.main-area {
  width: 90vw;
  height: 100%;
  /* background-color: green; */
  /* border: 3px solid yellow; */
}

.navbar {
  width: 100%;
  height: 15%;
  /* background-color: lightcoral; */
  display: flex;
  justify-content: space-between;
  /* border: 3px solid royalblue; */
}

.content {
  display: flex;
  width: 100%;
  height: 85%;
  /* border: 3px solid red; */
}

.links {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  padding: 0 20px;
}

.link {
  text-decoration: none;
  color: white;
  /* border: 2px solid green; */
  margin: 10px;
  font-size: 25px;
}

.link:hover {
  color: blue;
  /* border-bottom: 2px solid blue; */
}

.search {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.search-city {
  font-size: 20px;
  padding: 5px 10px;
}
.search-btn {
  font-size: 25px;
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: darkblue;
}

.content-left {
  display: flex;
  width: 60%;
  height: 100%;
  /* background-color: lightseagreen; */
  padding: 5% 7%;
  flex-direction: column;
  justify-content: center;
  color: white;
  /* border: 3px double darkturquoise; */
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: 100%;
  /* background-color: lightgreen; */
  padding: 5%;
  color: white;
  /* border: 3px double darkred; */
}

.city-name {
  font-size: 150px;
  margin: 20px 0;
}

.distance {
  margin: 20px 0;
}

.city-content {
  font-size: 1.2rem;
}
/* 
@media (max-width: 750px) {
  .page {
    height: fit-content;
    flex-direction: column;
  }
  .sidebar {
    flex-direction: row;
    width: 100%;
    padding: 15px;
  }
  .sidebar-sub {
    flex-direction: row;
  }
  .side-link {
    writing-mode: horizontal-tb;
    margin: 0 10px;
  }
  .navbar {
    flex-direction: column;
    justify-content: space-around;
  }
  .content {
    flex-direction: column;
  }
  .content-right {
    flex-direction: row;
    width: 100%;
  }
} */

/* Style for iPad */
@media (min-width: 699px) and (max-width: 966px) {
  .navbar {
    flex-direction: column;
    height: fit-content;
  }
  .content {
    flex-direction: column;
  }
  .content-left,
  .content-right {
    width: 100%;
  }
  .content-right {
    flex-direction: row;
    justify-content: space-around;
  }
  .distance {
    margin: 0 1rem;
  }
}

/* Style for iPhone */
@media (max-width: 698px) {
  .page {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }

  .sidebar-sub {
    flex-direction: row;
  }
  .side-link {
    writing-mode: horizontal-tb;
    margin: 0 10px;
  }
  .main-area {
    width: 100%;
  }

  .city-name {
    font-size: 7rem;
  }

  .navbar {
    flex-direction: column;
    height: fit-content;
  }
  .content {
    flex-direction: column;
  }
  .content-left,
  .content-right {
    width: 100%;
  }
  .content-right {
    flex-direction: row;
    justify-content: space-around;
  }
  .distance {
    margin: 0 1rem;
  }
}
